In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from scipy.stats import norm
from scipy import stats #para box-cox entre otros
from scipy.stats import skew
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

In [4]:
df= pd.read_excel("marketing_customer_analysisMODIF.xlsx", engine="openpyxl")

In [8]:
df.isna().sum()

Unnamed: 0                         0
UNNAMED:_0                         0
CUSTOMER                           0
STATE                              0
CUSTOMER_LIFETIME_VALUE            0
RESPONSE                           0
COVERAGE                           0
EDUCATION                          0
EFFECTIVE_TO_DATE                  0
EMPLOYMENTSTATUS                   0
GENDER                             0
INCOME                             0
LOCATION_CODE                      0
MARITAL_STATUS                     0
MONTHLY_PREMIUM_AUTO               0
MONTHS_SINCE_LAST_CLAIM          633
MONTHS_SINCE_POLICY_INCEPTION      0
NUMBER_OF_OPEN_COMPLAINTS        633
NUMBER_OF_POLICIES                 0
POLICY_TYPE                        0
POLICY                             0
RENEW_OFFER_TYPE                   0
SALES_CHANNEL                      0
TOTAL_CLAIM_AMOUNT                 0
VEHICLE_CLASS                      0
VEHICLE_SIZE                       0
VEHICLE_TYPE                       0
months                             0
dtype: int64

In [15]:
media1=np.mean(df['MONTHS_SINCE_LAST_CLAIM'])
media2=np.mean(df['NUMBER_OF_OPEN_COMPLAINTS'])
df['MONTHS_SINCE_LAST_CLAIM']=df['MONTHS_SINCE_LAST_CLAIM'].fillna(media1)
df['NUMBER_OF_OPEN_COMPLAINTS']=df['NUMBER_OF_OPEN_COMPLAINTS'].fillna(media2)
df=df.drop(['Unnamed: 0', 'UNNAMED:_0'] , axis=1)

In [16]:
df1=df.copy()

In [19]:
numerical = df1.select_dtypes(include=np.number)

In [20]:
Y=numerical['TOTAL_CLAIM_AMOUNT']
X=numerical.drop('TOTAL_CLAIM_AMOUNT', axis=1)

In [21]:
transformer=StandardScaler().fit(numerical)
x_normalized=transformer.transform(numerical)
print(x_normalized.shape)
pd.DataFrame(x_normalized)

(10910, 9)

,0,1,2,3,4,5,6,7,8
0,-0.466105,0.345635,-0.934819,-0.832977,0.139877,-0.433919,2.509455,-0.486325,1.068914
1,-0.840946,-1.236462,-0.847713,-1.241846,-0.790709,-0.433919,-0.824922,1.061160,-0.935529
2,1.006523,-0.507194,0.197554,1.926893,-0.611750,-0.433919,-0.408125,0.154404,1.068914
3,2.079112,0.380189,0.110448,-0.526325,-1.613919,-0.433919,-0.408125,0.168140,-0.935529
4,0.146240,-0.456597,0.691152,0.000000,-0.611750,0.000000,1.675860,0.934524,-0.935529
...,...,...,...,...,...,...,...,...,...
10905,1.095916,-1.236462,4.639940,0.000000,-0.289625,0.000000,1.675860,2.668033,-0.935529
10906,-0.400710,0.777715,-0.818678,-0.832977,0.712545,-0.433919,1.259063,-0.554030,-0.935529
10907,2.305825,0.075787,3.130109,-0.424107,0.533586,-0.433919,-0.408125,-0.183393,1.068914
10908,0.574273,0.878150,1.881595,-1.548498,-0.754917,4.083057,1.259063,0.627725,1.068914
10909,-0.168593,-1.236462,0.226589,1.620241,-1.685503,-0.433919,0.008672,2.008546,-0.935529

In [25]:
transformer=MinMaxScaler().fit(numerical)
transformer
x_scaled=transformer.transform(numerical)
print(x_scaled.shape)
pd.DataFrame(x_scaled)

(10910, 9)

,0,1,2,3,4,5,6,7,8
0,0.035752,0.480381,0.000000,0.200000,0.525253,0.000000,1.000,0.101171,1.0
1,0.004059,0.000000,0.012658,0.085714,0.262626,0.000000,0.000,0.257445,0.0
2,0.160264,0.221432,0.164557,0.971429,0.313131,0.000000,0.125,0.165875,1.0
3,0.250953,0.490873,0.151899,0.285714,0.030303,0.000000,0.125,0.167263,0.0
4,0.087527,0.236795,0.236287,0.432831,0.313131,0.076851,0.750,0.244657,0.0
...,...,...,...,...,...,...,...,...,...
10905,0.167823,0.000000,0.810127,0.432831,0.404040,0.076851,0.750,0.419717,0.0
10906,0.041281,0.611576,0.016878,0.200000,0.686869,0.000000,0.625,0.094333,0.0
10907,0.270122,0.398446,0.590717,0.314286,0.636364,0.000000,0.125,0.131763,1.0
10908,0.123717,0.642072,0.409283,0.000000,0.272727,0.800000,0.625,0.213674,1.0
10909,0.060907,0.000000,0.168776,0.885714,0.010101,0.000000,0.250,0.353118,0.0